.images{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 500px;
    margin-right:500px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F9F5F5;
    align-items: center;
    min-width: 40%;
}
img{
    width: 500px;
    height:500px;
}
