
.unlike{
    margin-top: 10px;
    margin-left: 20px;
    width: 30px;
    height: 38px;
    cursor: pointer;
    background-color: transparent;
}
.likes{
    margin-top: 10px;
    margin-left: 20px;
    width: 30px;
    height: 38px;
    cursor: pointer;
    color: #FD0808;
    animation: pulsate-bck 0.5s ease-in-out;
}

@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
