.App {
  min-height: 100vh;
  background-color: #FFFAFA;
}
.navBar{
  margin: 0;
  padding-left: 15px;
  border-bottom: 1px solid #555252;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  background-color: #FFFAFA;
}
.title{
  font-family: 'Rowdies';
  font-weight: bold;
}
.subtext{
  text-align: right;
  padding-right: 5px;
  color: #555252;
}
.images{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
